PORT=4000
CLIENT_URL=http://localhost:5173
ADMIN_PASSWORD=admin123

BOT_TOKEN=
ADMIN_CHAT_ID=
TELEGRAM_WEBHOOK_SECRET=my-secret-hook

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
PUBLIC_URL=http://localhost:4000
